html {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  }

h1{
  font-size: 50px;
  font-family: monospace;
}

.image1{
  display: inline-block;
  padding-top:1vw;
}
.image2{
  display: inline-block;
  padding-top:2vw;
}

.i1{
  margin-right: 2vw;
}
.i4{
  margin-right: 2vw;
}
.i2{
  margin-right: 2vw;
}
.i5{
  margin-right: 2vw;
}
